@charset "utf-8";
/* CSS Document */

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#wrapper {
	margin:auto;
	width:980px;
	height: auto;
	background-color:#FFF;
}
#header {
	border: 1px solid #000;
}
#form {
	float:right;
}
.canhgiua {
	width:980px;
	margin:auto;
}
#content {
	height:auto;
}
#menu { 
	background-color:#FFF; 
	height:35px; 
	z-index:1;
	border:1px solid #999;
	border-radius:5px; 
}
#menu ul {
	list-style: none;
	font-family: Arial, san-serif; 
	font-size: 12px; 
	padding: 0; 
	height:25px; 
	margin-top:0px;
}
#menu ul li{ 
	width:150px;
	float:left;
	position:relative;
} 
#menu ul a{
	text-decoration:none; 
	color:#000; 
	display:block; 
	font-weight:bold; 
	padding:10px 30px; 
	background:#FFF;
}

#menu ul a:hover{
	background:#CCC;
}
 //CSS Tạo Menu Cấp 2
#menu li ul a{
	background:#444;
} 
#menu li ul{
	position:absolute; 
	display:none; 
	width:130px;
}
#menu li:hover ul{
	display:block;
}
#left_content { 
	float:left; 
	background-color:#FFF; 
	height:1000px; 
	width:200px; 
	font-size:15px; 
}
#right_content {
	background-color:#FFF; 
	float:right; 
	padding:0; 
	width:775px; 
	height:auto; 
	font-size:15px; 
}
.chitiet {
	float:left;
	border: 1px solid #666; 
	height:600px; 
	width:765px; 
	margin-left: 5px; 
	border-radius:5px; 
	margin-top: 5px; 
}
.img1 {
 	float:left;
	width:440px;
	height:750px;
}

.khung { 
	border: 1px solid #666; 
	height:260px; 
	width:765px; 
	margin-left: 5px; 
	border-radius:5px; 
	margin-top: 5px; 
}
.khung_2 {
	margin-bottom:5px;
	margin-top:5px; 
	margin-left:auto;
	border: 1px solid #333; 
	height: 900px; 
	width: 760px;  
	border-radius: 5px; 
	background-color:#FFF;
}
.khung_4 {
	margin-top:30px; 
	margin-left:auto;
	border: 1px solid #333; 
	height: 350px; 
	width: 760px;  
	border-radius: 5px; 
	background-color:#FFF;
}
.khung_3 { 
	border: 1px solid #FFF; 
	height: 300px; 
	width: 755px; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	margin-left: 0px; 
	margin-top: 600px; 
	background-color:#FFF;
}
.khunganh { 
	background-color:#FFF; 
	height: 250px; 
	width: 725px; 
	border-radius:5px; 
}
.khunganhcon { 
	width: 145px; 
	height: auto; 
	background-color: #FFF; 
	float:left; 
	border: 0px solid #FFF; 
}
.text {
	margin-top:5px;
	padding-top:5px;
	width:500px;
	height:600px;
	border: 1px solid #000;
	border-radius: 5px;
	padding-left:5px;
	padding-right:5px;
	float:left;
}
.text p {
	color:#000;
}
.img {
	float:right;
	padding-top: 100px;
}
.hor_sep {
border-bottom: 5px solid #000;
padding-top:5px;
}
.lienhe {
	width:400px;
	margin:auto;
}
.diachi {
	width:800px;
	margin:auto;
}
.clearthefloat {clear:both;}
#footer { 
	height: 100px; 
	width: 100%; 
	background-color:#FFF; 
	margin:auto; 
	line-height: 8px; 
	clear:both;
	border: 1px solid #666;
	padding-top: 5px; 
}


	